/* .input-box{
    margin-left:195px;
}
.input-st{
    border-radius: 5px;
    height: 30px;
    width: 358px;
}
.education-input{
    width: 131px;
}
form{
    margin-left: 143px;
    margin-right: -270px;
}
.replace-radio{
    margin-left: -20px;
    margin-top: 13px;
}
h4{
    margin-left: 226px;
}
.create-btn{
    margin-right: 379px;
}
.col-half-offset{
    margin-left:4.166666667%
} */
img{
    margin-left: 78%;
    margin-top: -33px; 
    border-radius:70px; 
    height:107px;
}
.btn-tab{
    width: 100%;
}