<div class="account-page">
  <div class="container">
    <!-- <h3 class="account-title">Management Login</h3> -->
    <div class="account-box">
      <div class="account-wrapper">
        <div class="account-logo">
          <a href="javascript:"><img src="assets/img/logo2.jpg" alt="Focus Technologies"></a>
        </div>
        <form  [formGroup] = "form" autocomplete="off">
          <div class="form-group form-focus">
            <label class="control-label">OTP</label>
            <input class="form-control floating" type="text"
            required
              formControlName = "OTP"
              id="OTP">
          </div>
           <div class="form-group form-focus">
            <label class="control-label">New Password</label>
            <input class="form-control floating" type="password"
            required
              formControlName = "password"
              id="password">
            </div>
              <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                  <div *ngIf="f.password.errors.required">New Password is required.</div>
              </div>           
         
          <div class="form-group form-focus">
            <label class="control-label">Confirm Password</label>
            <input class="form-control floating" type="password"
            required
              formControlName = "confirmpassword"
              id="confirmpassword">
            </div>
              <div *ngIf="f.confirmpassword.touched && f.confirmpassword.invalid" class="alert alert-danger">
                <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required.</div>
                <div *ngIf="f.confirmpassword.errors.confirmedValidator">New Password and Confirm Password must be match.</div>
            </div>

            
          <div class="form-group text-center">
            <button class="btn btn-primary btn-block account-btn" type="button" [disabled]="form.invalid" (click)="submit()">submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
