
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
{ 
	 appearance: none; 
	 -webkit-appearance: none; 
	-moz-appearance: none;
	 margin: 0; 
}

.spinner{
	border: 16px solid silver;
	border-top: 16px solid #337AB7;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 700ms linear infinite;
	top: 50%;
	bottom: 50%;
	position: absolute;	
}

@keyframes spin{
	0% { transform : rotate(0deg)}
	100% { transform : rotate(-360eg)}
}