.project-title,.title-projects{
    cursor:pointer;
}
.select-designation{
  padding: 10px 0px 0px 7px;
  border: 1px solid #ccc;
  width: 100%;
}

.popmodal{
  position:relative;
  background:#fff;
  margin:auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #008000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #008000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.checkbox1{
  margin-left: 10px;
}
.checkbox2{
  margin-left: 830px;
}

.multiselect-dropdown[_ngcontent-c4] {
  position: relative;
  width: 100%;
  background: #fff;
  font-family: inherit;
  display: block;
}
.owner55{
  position: relative;
  width: 100%;
  background: #fff;
  font-family: inherit;
  display: block;
}

.k-multiselect .k-multiselect-wrap, .k-dropdowntree .k-multiselect-wrap {
  border-color: rgba(0, 0, 0, 0.08);
  color: #ffffff;
  position: fixed;
  background-color: #ffffff;
  width: 35%;
  height: 40px;
}

.page{
  margin-left: 70% !important;
}