
.example-form {
  min-width: 150px;
  max-width: 1060px;
  width: 100%;
}

.example-full-width {
  width: 25%;
}

td {
  padding-right: 8px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
#prof-pic{
  margin-left: 34%;
  margin-top: -93px; 
  border-radius:60px; 
  height:95px;
  padding: 1%;
}
/* #prof-pic{
  margin-left: 60%;
  margin-top: -12px; 
  border-radius:60px; 
  height:95px;
  padding: 1%;
} */
#profile_picture{
  width: 162%;
}
#status{
  margin-top: 4%;
}
#input-size{
  margin-top: 2%;
}
#gender-label{
  padding-top: 0%;
}
#resourcetype-label{
  padding-top: 0%;
}
#page{
  margin-left: 80%;
}
/* #prof-pic{
  margin-left: -2%;
  margin-top: -33px; 
  border-radius:70px; 
  height:107px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7D9BAE;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7D9BAE;
} 

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#page{
  margin-left: 80%;
}

.panel-primary > .panel-heading-custom{
  background: #7D9BAE; color: #fff;
}

#profile_picture{
  width: 72%;
}

mat-form-field.mat-form-field {
  font-size: 16px;
  background-color: white;
} */
