label{
    font-size: 11px;
}
h4{
    font-size: 14px;
}
.crPr{
    margin:54px; 
    margin-top:10px;
    border: 1px solid black;
}
.crMr{
    margin: 20px;
}
.showSingle{
    cursor: context-menu;
}
.icon-si{
    padding-left: 33px;
    padding-top:30px;
}
.table-view{
    margin-top:-53px;
}

#header{
    margin-top:4%;
}

#row{
    margin: 4%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  /* 
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  } */
  
  input:checked + .slider {
    background-color: #7D9BAE;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #7D9BAE;
  } 
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  
.example-form {
  min-width: 150px;
  max-width: 1060px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 2.5em 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

#proj_actv_status{
  margin: 0px 9% 3% 0%
}

#proj_status{
  margin: 0px 3% 3% 0%
}
#documentAccessStatus{
  margin: 0px 26% 3% 0%
}

#form{
  margin: 2%;
}